/* ---------------Global style page-----------------*/
body,
header,
main,
footer {
    display: flex;

}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
	flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    width: auto;
}

header {
    justify-content: flex-start;
    align-items: center;
    padding: 1.5vh 2vw 1.5vh 2vw;
    background-color: green;
}

main {
    justify-content: space-around;
    flex: auto;
    background-color: lightblue;
}

footer {
    height: 9vh;
    background-color: rgba(95, 95, 95, 0.4);
    justify-content: space-between;
}




/* --------------- Titles - p - a - i -----------------*/

h1, h2 {
    font-family: 'Sacramento', cursive, Calibri, Arial, Helvetica, sans-serif;
    color: rgb(233, 108, 5);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.6em;
    text-transform: uppercase;
    color: rgb(73, 57, 46);
}

h4 {
    font-size: 1.5em;
    color: rgb(73, 57, 46);
    font-weight: bolder;
    /* margin-top: 0; */
}

p {
    font-size: 1.4em;
    color: rgb(85, 78, 73);
    text-align: justify;
    /* margin-top: 0;
    margin-bottom: 0; */
}

a {
    text-decoration: none;
    color: rgb(85, 78, 73);
}

i {
    color: rgb(233, 108, 5);
}






/* --------------- header -----------------*/
header img {
    width: 17vw;
    border-radius: 30px;
    flex: 1;
}

header h1 {
    flex: 2;
    text-align: center;
    vertical-align: center;
}





/* --------------- Global style main -----------------*/
aside,
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

aside {
    padding: 2vh 1vw;
    width: 20vw;
}

#container {
    width: 80vw;
    padding: 2vh 4vw 2vh 8vw;
}




/* --------------- aside -----------------*/
.home_link {
    font-size: 1.8em;
    text-align: center;
}

aside nav ul {
    padding: 0;
    text-align: center;
}

aside nav ul h2 {
    margin-bottom: 0;
}

aside nav ul h3 {
    margin-top: 0;
}


#aside_pagination,
#aside_pagination .pagination {
    display: flex;
}

#aside_pagination {
    justify-content: space-between;
    margin: 2vh 0;
}

#aside_pagination .pagination {
    width: 5vw;
}



/* --------------- container user-home-page -----------------*/
#container_pagination,
#container_pagination .pagination,
#container nav ul {
    display: flex;
}

#container_pagination {
    justify-content: space-between;
    margin: 2vh 0;
}

#container nav ul {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    margin: 0;
}

#container nav ul .billet {
    width: 20vw;
    margin: 2vw 2vh;
    text-align: center;
}



/* --------------- container user/admin-billet-page -----------------*/
/*article*/
#display_date {
    text-align: right;
    font-style: italic;
}

/*Comments*/
#comments,
#read_comments .comment,
.comment .header_comment {
    display: flex;
}

#comments,
.comment .header_comment {
    justify-content: space-between;
}

#read_comments,
#add_comment {
    width: 30vw;
}

#read_comments .comment {
    flex-direction: column;
}

.comment {
    border-bottom: 1px grey solid;
    margin-bottom: 1vh;
}

.comment .header_comment {
    vertical-align: middle;
}

.pseudo_comment {
    font-weight: bolder;
}

.comment_date {
    font-size: 0.8em;
    font-style: italic;
}

/*addComments*/
#add_comment form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#add_comment form input[type=submit] {
    margin-top: -5vh;
    width: 5vw;
    margin-left: auto;
}





/* --------------- footer -----------------*/
#mentions_legales,
#connect_button, 
#form_connection,
#disconnect {
    margin: 2vh;
    display: flex;
    align-items: center;
}

#mentions_legales {
    width: 30vw;
    justify-content: flex-end;
}

#connect_button, 
#disconnect, 
#form {
    width: 60vw;
    justify-content: center;
}

#form {
    display: none;
}


#form_connection {
    /* display: flex; */
    width: 50vw;
}

#form_connection input[type=submit],
#annulation_connect {
    width: 8vw;
}

#form_connection label,
#form_connection input[type=submit],
#form_connection button {
    margin-left: 1vw;
}

#form_connection label {
    margin-right: 0.5vw;
}

#form_inscription {
    display: none;
}
