/* <1200px*/
@media all and (max-width: 1440px) {
    /*voir si les modif ne devraient pas être en <1400px*/
    h1,
    h2 {
       margin: 2vh 0;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
    }

    aside,
    #container {
        width: auto;
    }

    #form,
    #mentions_legales {
        width: auto;
    }

    /*------------ Menu ------------*/
    #responsive_menu_icon {
        display: flex;
        position: absolute;
        top: 12vh;
        right: 2vw;
        font-size: 2em;
    }

    #nav_aside {
        display: none;
        position: absolute;
        top: 16vh;
        right: 2vw;
        background-color: #255f89;
        color: white;
        z-index: 9999;
    }

    #nav_aside h2 {
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: normal;
        color: white;
        margin: 0 0 1vh 0;
    }

    #nav_aside .pagination a {
        color: white;
    }

    #nav_aside h3 {
        display: none;
    }

    /*------------ user-home-page ------------*/
    #bibliography {
        background-color: #255f89;
        padding: 0 2vw 5vh 2vw;
    }

    #bibliography h2,
    #bibliography p {
        color: white;
    }

    #bibliography h2 {
        font-weight: normal;
    }

    #container_pagination {
        margin: 0
    }

    /*------------ admin-home-page ------------*/
    .one_billet h2,
    .one_comment h2 {
        font-size: 2em;
    }
    

    /*------------ footer ------------*/
    #connect_button, 
    #disconnect {
        justify-content: flex-end;
    }
    
}

/* <1024px*/
@media all and (max-width: 1024px) {
    #photoJF {
        display: none;
    }

    #container {
        padding: 2vh 2vw;
    }

    #container nav ul {
        justify-content: space-around;
    }

    #container nav ul .billet {
        width: 40vw;
    }

}

/* <780px*/
@media all and (max-width: 780px) {
    header h1 {
        margin-right: 20vw;
    }

    #user_profil {
        padding-top: 5vh;
    }
    

    #comments {
        flex-direction: column-reverse;
        margin: auto;
    }

    #read_comments,
    #add_comment {
        width: 80vw;
    }

    #add_comment form {
        width: 80vw;
    }

    footer {
        height: auto;
    }

    #form_connection {
        flex-direction: column;
    }

    .list_billets,
    .list_comments {
        flex-direction: column;
    }

    .one_billet,
    .one_comment {
        width: 80vw;
        margin-bottom: 1vh;
    }
}

/* <480px*/
@media all and (max-width: 480px) {
    #container nav ul .billet {
        width: 80vw;
    }

}